<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <title>About</title>
    
    <div class= "main-content">
        {{>header}}
     <img class ="portrait" src="/img/naru.jpg">
    </div>
   

    {{>footer}}

</body>

</html>